<!DOCTYPE html>
<html>
    <head>
        <title>RailsApp</title>
    </head>

    <body>
    <Form>
    <h1>Invite Member</h1>
    <div class="container">
        <label for="first_name"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="fname" required>
    
        <label for="last_name"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lname" required>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <div>
            <button type="submit">Invite</button>
        </div>
      </div>
    </Form>
    </body>
</html>